<!DOCTYPE html>
<html>
<head>
	<title>Hospoda na Mýtince</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
		<h1>Hospoda na Mýtince</h1>
		<nav>
			<ul>
				<li><a href="Main.page.html">Domů</a></li>
				<li><a href="Dennimenu.html">Denní menu</a></li>
				<li><a href="Listovani.html">Nabídka jídel</a></li>
				<li class="posledni-link"><a href="Kontaktni-formular.html">Kontakt</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Vítejte v Hospodě na Mýtince</h2>
			<p>Work in progress</p>
		</section>
	</main>
	<footer>
		<p>Hospoda na Mýtince &copy; 2023</p>
	</footer>
</body>
</html>
