table {
    border: 2px solid black; 
    height: 50%;
    border-collapse: collapse;
    width: 50%;
    margin-top: 2rem;
    
}

td {    
    border: 2px solid black;
    height: 23px;
    
}
.nazvy_dnu {    
    height: 75px;
    text-align: center;
    font-size: 250%;
    background-color: darkgrey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.center {
margin-left: auto;
margin-right: auto;
}
.jid-naz-cen {
    height: 45px;
    font-size: large;
    font-weight: bold;
}
.nadpis {
    text-align: center;
    font-size: 450%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 7rem;

}
.dolni-popis {
    text-align: center;
    font-size: 120%;

}



/* TADY TADY TADY TADY TADY TADYTADY TADY TADY TADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADYTADY /*

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    min-width: 100%;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10rem;
    padding-top: 4rem;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    height: 40px;
    margin-top: auto;
    
  }
  
  
  /* Additional styles */
  #welcome {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
  }
  
  #welcome p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 1rem;
      
    }
  
    nav li {
      margin: 0.5rem 0;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    #welcome {
      padding: 1rem;
    }
  }
  .posledni-link {
    padding-right: 5rem;
  }
    